[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ccxt = "==1.90.88"
numpy = "*"
talib-bin = "*"
ta = "*"
tzlocal = "*"
plotly = "*"
imgkit = "*"
pdfkit = "*"
aiohttp = "*"
aiofiles = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
asyncpg = "*"
selenium = "*"
bs4 = "*"
charset-normalizer = "*"
lxml = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.8"
